
.produtos {

}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30% ;
    vertical-align: top;
    background: url("background2.png");
    box-sizing: border-box;
    border-color: #FFB6C1;
    border-style: dotted;
    border-width: medium;
}

.produtos li:hover {
    border-color: #F08080;
  }

.produtos li:active {
  border-color : #DC143C;
}

.produtos li:hover h2 {
  color: #DC143C;
  font-style: italic, bolder ;
}

.produtos h2{
  color: #F08080;
  font-size: 24px;
  font-weight: bold ;
}

.preçoProduto {
  color: #8B0000 ;
  font-size: 20px ;
  font-weight: bold ;
}

.descricaoProduto {
  color: #CD5C5C;
  size: 18px;
  }

.observação {
  color: gray;
  font-size: 12px;
  font-weight: lighter;
}

.Promoção {
  color: red ;
  font-size: 20px ;
  font-weight: bolder ;
}
