header {
  	background: #FFEFD5;
    padding: 20px 0;
}

.caixa {
  position: relative;
  width: 940px ;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px ;
  right: 0;
}

nav li {
  margin: 0 0 0 15px;
  display: inline;
}

#logo {
  width: 20% ;
  border-radius: 30px 15px 50px 30px;
  margin: 15px;
  display: inline;
}

nav a {
  color: #CD5C5C;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
