header {
  	background: #FFEFD5;
    padding: 20px 0;
}

.caixa {
  position: relative;
  width: 940px ;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px ;
  right: 0;
}

nav li {
  margin: 0 0 0 15px;
  display: inline;
}

#logo {
  width: 20% ;
  border-radius: 30px 15px 50px 30px;
  margin: 15px;
  display: inline;
}

nav a {
  color: #CD5C5C;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.produtos {
  width: 940px ;
  margin: 0 auto;
  padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30% ;
    vertical-align: top;
    background: #FFEFD5;
    box-sizing: border-box;
}

.produtos h2{
  color: #d80707;
  font-size: 24px;
  font-weight: bold ;
}

.preçoProduto {
  color: red ;
  font-size: 20px ;
  font-weight: bold ;
}

.descricaoProduto {
  color: #CD5C5C;
  size: 18px;
  }

.observação {
  color: gray;
  font-size: 12px;
  font-weight: lighter;
}

.Promoção {
  color: red ;
  font-size: 20px ;
  font-weight: bolder ;
}
