.principal{
  box-sizing: border-box;
  border-color: #FFB6C1;
  border-style: dotted;
  border-width: medium;
  padding: 30px;
  margin: 25px;
}


.titulo-centralizado {
	text-align: center;
	color: #CD5C5C;
	font-size: 26px;
}

p {
	text-align: center;
	color: #CD5C5C
}

#missao {
	font-size: 20px
}

em strong {
	color: #d80707;
}

.itens {
	font-style: italic
}

.beneficios {
  box-sizing: border-box;
  border-color: #FFB6C1;
  border-style: dotted;
  border-width: medium;
  padding: 30px;
  margin: 25px;
  align-items: center ;
}

.beneficios ul{
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
	color: #d80707;
	size : 22px ;
  display: inline-block;

}

.imagembeneficios {
	width: 25%;
	height: 25%;
  display: inline-grid;
}
